


.section-full {
  position: relative;
  &-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
  }

  &-inner {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(bottom, rgba(0, 160, 255, 0.4), rgba(0, 21, 255, 0.52));

    //padding-top: 160px;
    //padding-bottom: 160px;
  }

  &-header,
  &-footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 15px;
  }

  &-header {
    top: 0;
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.05);
  }

  &-footer {
    bottom: 0;
  }
  &-content {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
