.text-center {
  text-align: center;
}
.section-full-content-title {
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  line-height: 1.1;
  color: rgba(255,255,255,.5);
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 100;
  text-align: center;
  @media screen and (max-width: 991px) {
    font-size: 50px;
  }
}
.counter span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 20px;
}
#days,#hours,#minutes,#seconds {
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  @media screen and (max-width: 991px) {
    font-size: 85px;
  }
}
