.text-center {
  text-align: center; }

.section-full-content-title {
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 100;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .section-full-content-title {
      font-size: 50px; } }

.counter span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 20px; }

#days, #hours, #minutes, #seconds {
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto;
  width: 200px;
  text-align: center; }
  @media screen and (max-width: 991px) {
    #days, #hours, #minutes, #seconds {
      font-size: 85px; } }

.section-full {
  position: relative; }
  .section-full-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7; }
  .section-full-inner {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(bottom, rgba(0, 160, 255, 0.4), rgba(0, 21, 255, 0.52)); }
  .section-full-header, .section-full-footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 15px; }
  .section-full-header {
    top: 0;
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.05); }
  .section-full-footer {
    bottom: 0; }
  .section-full-content {
    padding-top: 150px;
    padding-bottom: 150px; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  width: 100%;
  height: 100%; }

.counter-block {
  width: 200px;
  margin: 0 auto; }

.slider {
  min-height: 100%; }

.subscribe-email {
  max-width: 350px;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 26px 24px 33px -11px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 26px 24px 33px -11px rgba(0, 0, 0, 0.27);
  box-shadow: 26px 24px 33px -11px rgba(0, 0, 0, 0.27);
  padding: 0 20px 0 20px;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 249, 255, 0.67);
  color: black; }
  .subscribe-email:focus {
    transition: all 1s;
    background: rgba(255, 249, 255, 0.67); }
  .subscribe-email::placeholder {
    color: black; }
  @media screen and (max-width: 375px) {
    .subscribe-email {
      max-width: 250px; } }

.subscribe-btn {
  max-width: 100px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 26px 24px 33px -11px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 26px 24px 33px -11px rgba(0, 0, 0, 0.27);
  box-shadow: 26px 24px 33px -11px rgba(0, 0, 0, 0.27);
  background: #00a0ff;
  color: white; }
  .subscribe-btn:hover {
    transition: all 1s;
    background: #0076ff; }
  @media screen and (max-width: 991px) {
    .subscribe-btn {
      margin-top: 30px; } }

.logo img {
  max-width: 100px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .logo img {
      max-width: 50px;
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
